body {
    font-family: 'Nunito', sans-serif;
}

#mainNav .active {
    color: #00a86b;
    font-weight: bold;
}

#mainNav .nav-link {
    display: inline-block;
    margin: 0 10px;
}

#mainNav {
    background-color: #18183E;
}


#jumbo-btn, #card-section a{
    background-color: #00a86b;
    border-color: #00a86b;
}

.icon {
    font-size: 45px;
    margin-top: 15px;
}

.section-box {
    text-align: center;
}

#card-section {
    margin: 30px;
}

